[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
jwt = "*"
translation = "*"
django-rest-auth = "*"
social-auth-app-django = "*"
python-social-auth = "*"
django-rest-framework = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-environ = "*"
environ = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
