[requires]
python_version = "3.12"

[packages]
django = "*"
requests = "*"
django-rest-auth = "*"
social-auth-app-django = "*"
python-social-auth = "*"
djangorestframework = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
channels = "*"
daphne = "*"
